                <% function format(timestamp){ var t = new Date(timestamp*1000); return t.getFullYear() + '-' + (Number(t.getMonth())+1) + '-' + t.getDate() } %>
                <div class="wrap">
                    <div class="container cls">
                        <div class="note-wrap fl cls" id="JS_note">
                            <div class="subnav">
                                <i class="iconfont">&#xe601;</i>
                                <% for(var i=0; i<note.tag.length; i++){ %>
                                    <a class="tag" href="/note/tag/<%=note.tag[i].name%>"><%=note.tag[i].name%></a>
                                <% } %>
                            </div>
                            <h2><%=note.title%></h2>
                            <time><%=format(note.createtime)%></time>
                            <div class="note-entry note-wrap fl cls">
                                <%- note.content%>
                            </div>
                        </div>
                        
                        <%include layout/note_tag.html%>
                    </div>
                </div>